In [20]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359"

)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x00000281A462ECC8>

In [5]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359"

)

mycursor = mydb.cursor()

#mycursor.execute("CREATE DATABASE myPlace")

In [23]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="myplace"

) 

mycursor = mydb.cursor()

#mycursor.execute("CREATE TABLE ChipperS(Type VARCHAR(225), Barcode VARCHAR(225), Weight VARCHAR(225))")

sql="INSERT INTO ChipperS(Type,Barcode,Weight) Values(%s,%s,%s)"
                 
val=("Simba",6001087313087,0.002)
#val=("Lays",2840011054,200)
#val=("Doritos",2840046854,200)
#val=("Pringles",2290042892,742)
#val=("CHetos",2290042892,732)

mycursor.execute(sql,val)
mydb.commit()
#print("data is saved")

In [16]:
import mysql.connector

mydb = mysql.connector.connect(

  host="localhost",

  user="root",

  passwd="Larni9359",

  database="myplace"

)

mycursor = mydb.cursor()

mycursor.execute("CREATE TABLE Cooldrinks (Product VARCHAR(255),Price VARCHAR(255),Quantity VARCHAR(255),Barcode VARCHAR(255),weihgt VARCHAR(255,)")

ProgrammingError: 1064 (42000): You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ',)' at line 1