In [3]:
import pandas as pd

data = {
    
    
        'chips':['Simba','Lays','Doritos','Pringles','chetos',],
        'cooldrinks':['Sprite','Fanta','Coke','Powerade','jive',],
        'chocolate':['Cadbury','Darkchocolate','Barone','Lunch bar','Tax',],
        'pies':['Steak','chicken pie','Chery pie','Cheese berga','chicken and mashrooms',],
        'fruit':['Oranges','Apple','Banana','Plum','Mengo',],
        'veg':['Spinach','Cabbage','Carrots','Cucamba','Avocado',],
        'cupcakes':['Chocolate','Vanila','Strawbery','Butterbeer cupcake','lemon cupcake',],
    
        }

df = pd.DataFrame(data)

df

,chips,cooldrinks,chocolate,pies,fruit,veg,cupcakes
0,Simba,Sprite,Cadbury,Steak,Oranges,Spinach,Chocolate
1,Lays,Fanta,Darkchocolate,chicken pie,Apple,Cabbage,Vanila
2,Doritos,Coke,Barone,Chery pie,Banana,Carrots,Strawbery
3,Pringles,Powerade,Lunch bar,Cheese berga,Plum,Cucamba,Butterbeer cupcake
4,chetos,jive,Tax,chicken and mashrooms,Mengo,Avocado,lemon cupcake